### imports

In [1]:
import pandas as pd
import random
import glob
import os

from statistics import mean

### constants

In [3]:
SCALING_FACTOR = 0.2

In [4]:
path = os.getcwd()
csv_files = sorted(glob.glob(os.path.join(path, "scores/2023/*.csv")))

In [5]:
# set up sse for each course and layout
# should we pull more data from dgcr? maybe course length per layout, etc?
# would allow us to get course names and such... that's probably better...

SSE = {
    'shmo_s': 47.7,
    'shmo_l': 54.4,
    'romo_s': 45.0, # total guess
    'romo_l': 50.4,
    'spva_s': 56.6,
    'spva_l': 64.0,
    'mbog_s': 44.8,
    'mbog_l': 53.4,
    'mbno_s': 45.3,
    'mbno_l': 53.9,
    'knol_s': 42.9,
    'knol_l': 42.9,
    'r_arro': 27.5,
    'r_arr2': 55.0,
    'vira_s': 48.1,
    'vira_l': 54.9,
    'coldbk': 67.0,
    'begg_p': 50.0,
    'brew_s': 43.9,
    'brew_l': 55.0,
    'johnsn': 43.1,
    'garfld': 46.1
}

In [6]:
PLAYERS = [
    'Chase',
    'Isaac Richmond',
    'Joe Bos',
    'Joshua Owens',
    'Kat Owens',
    'Kevin Richmond',
    'Kyle P-H',
    'Noah Mashni',
    'the_field'
]

### helper functions

In [7]:
def calculate_rating(score, sse):
    if sse > 50.328725:
        scoring_interval = -0.225067 * sse + 21.3858
    else:
        scoring_interval = -0.487095 * sse + 34.5734
    return 1000 - (score-sse)*scoring_interval

In [8]:
def calculate_target_stroke_count(rating, sse):
    return (1000/rating * sse).round(2)

In [11]:
calculate_rating(64, SSE['brew_l'])

918.935965

In [13]:
{
    'chase': calculate_rating(82, SSE['spva_s']),
    'isaac': calculate_rating(76, SSE['spva_s']),
    'joe': calculate_rating(67, SSE['spva_l']),
    'joshua': calculate_rating(68, SSE['spva_l']),
    'kat': calculate_rating(70, SSE['spva_s']),
    'kevin': calculate_rating(65, SSE['spva_s']),
    'noah': calculate_rating(79, SSE['spva_l'])
}

{'chase': 780.36600188,
 'isaac': 832.24804868,
 'joe': 979.055464,
 'joshua': 972.073952,
 'kat': 884.13009548,
 'kevin': 927.36513448,
 'noah': 895.27732}

In [19]:
{
    'joe': calculate_rating(56, SSE['mbno_l']),
    'joshua': calculate_rating(59, SSE['mbno_l']),
    'kevin': calculate_rating(50, SSE['mbno_s']),
    'isaac': calculate_rating(59, SSE['mbno_s']),
    'kyle': calculate_rating(44, SSE['mbno_s']),
    'kat': calculate_rating(50, SSE['mbno_s']),
    'noah': calculate_rating(64, SSE['mbno_l']),
    'chase': calculate_rating(66, SSE['mbno_s'])
}

{'joe': 980.56515373,
 'joshua': 952.80108763,
 'kevin': 941.21241645,
 'isaac': 828.64044795,
 'kyle': 1016.2603954499999,
 'kat': 941.21241645,
 'noah': 906.52764413,
 'chase': 741.08447245}

### concatenate all files into a dataframe

In [12]:
# we'll come back to this once we're able to add date and course manually

# dfs = []

# for filename in csv_files:
#     tdf = pd.read_csv(filename, index_col=None, header=0)
#     dfs.append(tdf)

# df = pd.concat(dfs, axis=0, ignore_index=True)

In [13]:
# players = df['name'].unique()

In [14]:
# courses2022 = {
#     '2022-04-21': 'shmo_s',
#     '2022-04-28': 'shmo_s',
#     '2022-05-05': 'shmo_s',
#     '2022-05-12': 'shmo_s',
#     '2022-05-19': 'spva_s',
#     '2022-05-26': 'shmo_s',
#     '2022-06-02': 'shmo_s',
#     '2022-06-09': 'shmo_s',
#     '2022-06-16': 'vera_s',
#     '2022-06-23': 'shmo_s',
#     '2022-06-30': 'mbog_l',
#     '2022-07-07': 'spva_s',
#     '2022-07-14': 'shmo_s',
#     '2022-07-21': 'shmo_s',
#     '2022-07-28': 'shmo_s',
#     '2022-08-04': 'shmo_s',
#     '2022-08-10': 'romo_s',
#     '2022-08-17': 'shmo_s',
#     '2022-08-24': 'spva_s',
#     '2022-08-31': 'mbog_s',
#     '2022-09-07': 'shmo_s',
#     '2022-09-14': 'spva_s',
#     '2022-09-21': 'shmo_s',
#     '2022-09-28': 'romo_l'
# }

In [14]:
# courses2023 = {
#     '2022-04-21': 'shmo_s',
#     '2022-04-28': 'shmo_s',
#     '2022-05-05': 'shmo_s',
#     '2022-05-12': 'shmo_s',
#     '2022-05-19': 'spva_s',
#     '2022-05-26': 'shmo_s',
#     '2022-06-02': 'shmo_s',
#     '2022-06-09': 'shmo_s',
#     '2022-06-16': 'vera_s',
#     '2022-06-23': 'shmo_s',
#     '2022-06-30': 'mbog_l',
#     '2022-07-07': 'spva_s',
#     '2022-07-14': 'shmo_s',
#     '2022-07-21': 'shmo_s',
#     '2022-07-28': 'shmo_s',
#     '2022-08-04': 'shmo_s',
#     '2022-08-10': 'romo_s',
#     '2022-08-17': 'shmo_s',
#     '2022-08-24': 'spva_s',
#     '2022-08-31': 'mbog_s',
#     '2022-09-07': 'shmo_s',
#     '2022-09-14': 'spva_s',
#     '2022-09-21': 'shmo_s',
#     '2022-09-28': 'romo_l'
# }

### build base dataframe for 2022

In [15]:
# df = pd.read_csv('scores/2022/zoo_2022-04-21.csv')

### add each round for 2022

In [16]:
df = pd.DataFrame()
for filename in csv_files:
    date = filename.split('zoo_')[1].split('.csv')[0]
    newdf = pd.read_csv(filename)
    newdf['date'] = date
#     if 'hole_24' in newdf.columns:
#         newdf['course'] = 
#     else:
#         newdf['course'] = random.choice(['shmo_s','mbog_s','romo_s'])
    df = df.append(newdf)
df = df.sort_values('date')
# df['course'] = df['date'].map(courses2022)

### per-hole stats

In [17]:
hole_stats = df.groupby(['course','name']).mean()
hole_stats

KeyError: 'course'

### pivot round scores to simple total scores

filling NA with course-wise average per player

In [16]:
round_scores = df[['course','name','total_score','date']].set_index('date','course')
round_scores = round_scores.pivot_table(
    values='total_score',
    index=['date','course'],
    columns='name',
    aggfunc='first'
)
attendance = round_scores.count() # only used in final scoring, needed prior to 'fillna'.

round_scores['the_field'] = round_scores.mean(axis=1)
round_scores = round_scores.fillna(round_scores.groupby('course').transform('mean')).fillna(round_scores.mean()).round(2)
round_scores

,name,Chase,Isaac Richmond,Joe Bos,Joshua Owens,Kat Owens,Kevin Richmond,Kyle P-H,Noah Mashni,the_field
date,course,,,,,,,,,
2022-04-21,shmo_s,69.11,62.00,55.00,50.00,54.00,53.00,52.85,55.58,53.00
2022-04-28,shmo_s,72.00,62.00,48.00,48.55,57.00,52.00,52.00,56.00,56.17
2022-05-05,shmo_s,73.00,62.00,51.00,48.55,58.00,61.00,56.00,61.00,60.00
2022-05-12,shmo_s,75.00,62.00,49.00,53.00,56.00,60.00,54.00,55.00,57.43
2022-05-19,spva_s,83.00,82.00,61.00,64.00,67.00,51.00,65.00,70.00,65.86
2022-05-26,shmo_s,69.11,62.00,52.00,45.00,53.00,60.00,50.00,59.00,53.17
2022-06-02,shmo_s,69.11,62.00,49.58,46.00,55.00,41.00,55.00,56.00,50.60
2022-06-09,shmo_s,69.11,62.00,50.00,48.00,54.77,58.00,54.00,53.00,52.60
2022-06-16,vera_s,75.00,70.38,51.00,54.00,60.00,57.00,55.16,59.00,59.80
2022-06-23,shmo_s,69.00,62.00,47.00,49.00,52.00,54.75,47.00,55.00,53.17
2022-06-30,mbog_l,71.07,70.38,61.00,57.00,68.00,57.00,55.16,58.30,62.00
2022-07-07,spva_s,75.00,84.00,63.00,63.00,60.00,70.00,64.00,64.00,67.33
2022-07-14,shmo_s,65.00,62.00,47.00,49.00,55.00,54.75,52.85,55.00,54.20
2022-07-21,shmo_s,69.11,62.00,49.00,50.00,54.00,63.00,54.00,55.58,54.00
2022-07-28,shmo_s,71.00,62.00,48.00,51.00,54.77,54.75,55.00,49.00,54.80
2022-08-04,shmo_s,67.00,62.00,49.58,47.00,56.00,49.00,51.00,55.58,54.00
2022-08-10,romo_s,64.00,70.38,49.00,48.00,52.00,55.00,53.00,53.00,53.43
2022-08-17,shmo_s,69.11,64.00,49.58,46.00,54.00,48.00,52.00,57.00,53.50
2022-08-24,spva_s,75.00,83.00,60.00,63.00,66.00,68.00,61.00,68.00,67.00
2022-08-31,mbog_s,71.07,61.00,53.00,49.00,58.00,52.00,54.00,53.00,54.29
2022-09-07,shmo_s,62.00,63.00,49.00,48.55,55.00,59.00,51.00,54.00,56.14
2022-09-14,spva_s,67.00,79.00,62.00,63.33,68.00,68.00,66.00,70.00,68.57
2022-09-21,shmo_s,68.00,59.00,50.00,48.55,53.00,53.00,56.00,57.00,56.57
2022-09-28,romo_l,84.00,70.00,57.00,54.00,57.67,62.00,62.00,62.00,64.43

### ratings

generate round ratings per player based on SSE

In [17]:
ratings = round_scores.reset_index().set_index('date')
ratings['sse'] = ratings['course'].map(SSE)
for player in PLAYERS:
    ratings[player] = ratings.apply(lambda x: calculate_rating(x[player],x['sse']),axis=1)

ratings

name,course,Chase,Isaac Richmond,Joe Bos,Joshua Owens,Kat Owens,Kevin Richmond,Kyle P-H,Noah Mashni,the_field,sse
date,,,,,,,,,,,
2022-04-21,shmo_s,757.232684,837.852750,917.225530,973.920372,928.564498,939.903467,941.604312,910.648928,939.903467,47.7
2022-04-28,shmo_s,724.463065,837.852750,996.598309,990.361877,894.547593,951.242435,951.242435,905.886561,903.958937,47.7
2022-05-05,shmo_s,713.124097,837.852750,962.581404,990.361877,883.208624,849.191719,905.886561,849.191719,860.530687,47.7
2022-05-12,shmo_s,690.446160,837.852750,985.259341,939.903467,905.886561,860.530687,928.564498,917.225530,889.671836,47.7
2022-05-19,spva_s,771.718994,780.366002,961.953166,936.012142,910.071119,1048.423244,927.365134,884.130095,919.928708,56.6
2022-05-26,shmo_s,757.232684,837.852750,951.242435,1030.615215,939.903467,860.530687,973.920372,871.869656,937.975842,47.7
2022-06-02,shmo_s,757.232684,837.852750,978.682739,1019.276246,917.225530,1075.971089,917.225530,905.886561,967.116991,47.7
2022-06-09,shmo_s,757.232684,837.852750,973.920372,996.598309,919.833493,883.208624,928.564498,939.903467,944.439054,47.7
2022-06-16,vera_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23,shmo_s,758.479971,837.852750,1007.937278,985.259341,951.242435,920.060272,1007.937278,917.225530,937.975842,47.7
2022-06-30,mbog_l,834.481184,840.944567,928.809111,966.278000,863.238556,966.278000,983.513689,954.100611,919.441889,53.4
2022-07-07,spva_s,840.895056,763.071986,944.659150,944.659150,970.600173,884.130095,936.012142,936.012142,907.217606,56.6
2022-07-14,shmo_s,803.835845,837.852750,1007.937278,985.259341,917.225530,920.060272,941.604312,917.225530,926.296705,47.7
2022-07-21,shmo_s,757.232684,837.852750,985.259341,973.920372,928.564498,826.513782,928.564498,910.648928,928.564498,47.7
2022-07-28,shmo_s,735.802034,837.852750,996.598309,962.581404,919.833493,920.060272,917.225530,985.259341,919.493324,47.7
2022-08-04,shmo_s,781.157908,837.852750,978.682739,1007.937278,905.886561,985.259341,962.581404,910.648928,928.564498,47.7
2022-08-10,romo_s,759.571625,678.838308,949.383500,962.037625,911.421125,873.458750,898.767000,898.767000,893.325726,45.0
2022-08-17,shmo_s,757.232684,815.174813,978.682739,1019.276246,928.564498,996.598309,951.242435,894.547593,934.233983,47.7
2022-08-24,spva_s,840.895056,771.718994,970.600173,944.659150,918.718127,901.424111,961.953166,901.424111,910.071119,56.6
2022-08-31,mbog_s,665.016939,793.424987,895.437339,946.443515,831.679619,908.188883,882.685795,895.437339,878.987847,44.8
2022-09-07,shmo_s,837.852750,826.513782,985.259341,990.361877,917.225530,871.869656,962.581404,928.564498,904.299106,47.7
2022-09-14,spva_s,910.071119,806.307025,953.306158,941.805638,901.424111,901.424111,918.718127,884.130095,896.495317,56.6
2022-09-21,shmo_s,769.818939,871.869656,973.920372,990.361877,939.903467,939.903467,905.886561,894.547593,899.423349,47.7
2022-09-28,romo_l,662.574580,803.168505,933.720007,963.847276,926.991583,883.507891,883.507891,883.507891,859.104803,50.4

### rating average

calculate a rolling average of players' rating as calculated above

In [18]:
ratings_ave = ratings.drop(columns=['sse']).rolling(6, axis=0, min_periods=5).apply(lambda x: mean(sorted(x)[1:4]))
ratings_ave

name,Chase,Isaac Richmond,Joe Bos,Joshua Owens,Kat Owens,Kevin Richmond,Kyle P-H,Noah Mashni,the_field
date,,,,,,,,,
2022-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-19,731.606616,837.852750,969.931304,968.061905,903.501758,917.225530,932.511315,900.221862,904.519827
2022-05-26,731.606616,837.852750,958.592335,968.061905,903.501758,886.988281,932.511315,887.295438,904.519827
2022-06-02,731.606616,837.852750,967.739103,973.542407,903.501758,890.767937,924.385054,887.295438,904.519827
2022-06-09,742.529822,837.852750,966.151647,975.621218,911.061070,868.090000,924.385054,887.295438,915.858796
2022-06-16,757.232684,837.852750,971.518759,985.259341,915.710047,930.720852,928.164710,902.414062,934.114535
2022-06-23,762.061454,837.852750,971.518759,1000.377966,925.654163,950.564047,943.283335,909.973375,940.130246
2022-06-30,NaN,NaN,967.948516,1000.377966,925.654163,959.746662,NaN,NaN,940.130246
2022-07-07,NaN,NaN,NaN,982.711883,NaN,923.489456,NaN,NaN,933.952262
2022-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-21,773.182833,812.925829,952.909201,961.619174,903.009528,876.901383,935.393651,915.033329,917.652067
2022-07-28,773.182833,837.852750,975.505600,967.593259,921.874507,908.083547,935.393651,923.487734,921.743972
2022-08-04,780.742146,837.852750,969.533743,967.593259,914.315195,908.083547,935.393651,921.295533,921.743972
2022-08-10,765.987406,812.925829,971.108527,966.179800,916.160049,892.549706,927.267390,912.841129,917.669212
2022-08-17,758.012331,830.293438,980.874940,973.920372,916.160049,904.526431,929.131447,906.688285,924.784842
2022-08-24,758.012331,808.248853,975.988551,966.179800,916.657581,898.314378,932.344155,903.613346,919.376314
2022-08-31,750.868781,793.439598,966.222138,957.020848,912.008604,909.891089,922.411655,898.542817,907.630056
2022-09-07,765.987406,793.439598,966.222138,966.281006,911.511072,894.357248,937.320867,898.542817,902.565317
2022-09-14,784.885687,790.483669,957.763277,951.046763,910.023589,892.102324,922.909187,896.250644,898.040050
2022-09-21,788.301458,804.968942,965.942235,960.488181,912.455923,903.679035,925.282375,894.844175,900.072591
2022-09-28,757.562876,800.966839,952.542113,951.649981,912.455923,895.452038,902.704193,891.371676,891.635504

#### ratings against field

unclear if this will be valuable, but easy to calc

In [19]:
# ratings_field = ratings_ave.apply(lambda x:x - ratings_ave['the_field'])
# ratings_field

### expected strokes

based on current rating as calculated above, this is the number of strokes anticipated for each player at each round. factors into handicap and therefor ranking points.

In [20]:
expected_strokes = ratings_ave.copy()
expected_strokes['course'] = ratings['course']
expected_strokes['sse'] = ratings['sse']
for player in PLAYERS:
    expected_strokes[player] = expected_strokes.apply(lambda x:(1000/x[player] * x['sse']), axis=1)
expected_strokes

name,Chase,Isaac Richmond,Joe Bos,Joshua Owens,Kat Owens,Kevin Richmond,Kyle P-H,Noah Mashni,the_field,course,sse
date,,,,,,,,,,,
2022-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shmo_s,47.7
2022-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shmo_s,47.7
2022-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shmo_s,47.7
2022-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shmo_s,47.7
2022-05-19,77.363981,67.553636,58.354648,58.467335,62.645147,61.707833,60.696314,62.873390,62.574637,spva_s,56.6
2022-05-26,65.198973,56.931245,49.760465,49.273708,52.794585,53.777486,51.152194,53.758870,52.735162,shmo_s,47.7
2022-06-02,65.198973,56.931245,49.290144,48.996325,52.794585,53.549301,51.601873,53.758870,52.735162,shmo_s,47.7
2022-06-09,64.239844,56.931245,49.371131,48.891926,52.356534,54.948220,51.601873,53.758870,52.082264,shmo_s,47.7
2022-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,vera_s,NaN
2022-06-23,62.593377,56.931245,49.098383,47.681978,51.531125,50.180732,50.568051,52.419116,50.737651,shmo_s,47.7
2022-06-30,NaN,NaN,55.168223,53.379824,57.688932,55.639683,NaN,NaN,56.800640,mbog_l,53.4
2022-07-07,NaN,NaN,NaN,57.595722,NaN,61.289276,NaN,NaN,60.602669,spva_s,56.6
2022-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,shmo_s,47.7
2022-07-21,61.693041,58.676940,50.057235,49.603836,52.823363,54.396083,50.994573,52.129249,51.980486,shmo_s,47.7
2022-07-28,61.693041,56.931245,48.897720,49.297574,51.742401,52.528206,50.994573,51.652013,51.749728,shmo_s,47.7
2022-08-04,61.095715,56.931245,49.198907,49.297574,52.170193,52.528206,50.994573,51.774917,51.749728,shmo_s,47.7
2022-08-10,58.747702,55.355604,46.338796,46.575182,49.118055,50.417360,48.529691,49.296639,49.037278,romo_s,45.0
2022-08-17,62.927736,57.449569,48.630053,48.977310,52.065139,52.734777,51.338269,52.609040,51.579565,shmo_s,47.7
2022-08-24,74.668970,70.027937,57.992484,58.581229,61.746067,63.006895,60.707197,62.637410,61.563474,spva_s,56.6
2022-08-31,59.664220,56.463025,46.366149,46.811937,49.122344,49.236662,48.568337,49.858503,49.359317,mbog_s,44.8
2022-09-07,62.272564,60.117998,49.367530,49.364522,52.330686,53.334392,50.889724,53.085951,52.849361,shmo_s,47.7
2022-09-14,72.112412,71.601732,59.096022,59.513372,62.196190,63.445637,61.327811,63.151977,63.026142,spva_s,56.6
2022-09-21,60.509846,59.256945,49.381835,49.662246,52.276498,52.784228,51.551830,53.305370,52.995726,shmo_s,47.7
2022-09-28,66.529131,62.923953,52.911046,52.960648,55.235545,56.284422,55.832243,56.542070,56.525340,romo_l,50.4

### ranking points

this is determined by adjusting scores by individual handicap and ranking those adjusted scores. the number of those bested is the number of points granted.

In [21]:
handicap = expected_strokes.drop(columns=['course']).apply(lambda x: x-x['sse'], axis=1)
adjusted = round_scores - handicap.drop(columns=['sse'])*SCALING_FACTOR # this inflated scores heavily
ranked = adjusted.rank(axis=1,ascending=False)

# ranked.sum()
handicap

name,Chase,Isaac Richmond,Joe Bos,Joshua Owens,Kat Owens,Kevin Richmond,Kyle P-H,Noah Mashni,the_field,sse
date,,,,,,,,,,
2022-04-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-05-19,20.763981,10.953636,1.754648,1.867335,6.045147,5.107833,4.096314,6.273390,5.974637,0.0
2022-05-26,17.498973,9.231245,2.060465,1.573708,5.094585,6.077486,3.452194,6.058870,5.035162,0.0
2022-06-02,17.498973,9.231245,1.590144,1.296325,5.094585,5.849301,3.901873,6.058870,5.035162,0.0
2022-06-09,16.539844,9.231245,1.671131,1.191926,4.656534,7.248220,3.901873,6.058870,4.382264,0.0
2022-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23,14.893377,9.231245,1.398383,-0.018022,3.831125,2.480732,2.868051,4.719116,3.037651,0.0
2022-06-30,NaN,NaN,1.768223,-0.020176,4.288932,2.239683,NaN,NaN,3.400640,0.0
2022-07-07,NaN,NaN,NaN,0.995722,NaN,4.689276,NaN,NaN,4.002669,0.0
2022-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-07-21,13.993041,10.976940,2.357235,1.903836,5.123363,6.696083,3.294573,4.429249,4.280486,0.0
2022-07-28,13.993041,9.231245,1.197720,1.597574,4.042401,4.828206,3.294573,3.952013,4.049728,0.0
2022-08-04,13.395715,9.231245,1.498907,1.597574,4.470193,4.828206,3.294573,4.074917,4.049728,0.0
2022-08-10,13.747702,10.355604,1.338796,1.575182,4.118055,5.417360,3.529691,4.296639,4.037278,0.0
2022-08-17,15.227736,9.749569,0.930053,1.277310,4.365139,5.034777,3.638269,4.909040,3.879565,0.0
2022-08-24,18.068970,13.427937,1.392484,1.981229,5.146067,6.406895,4.107197,6.037410,4.963474,0.0
2022-08-31,14.864220,11.663025,1.566149,2.011937,4.322344,4.436662,3.768337,5.058503,4.559317,0.0
2022-09-07,14.572564,12.417998,1.667530,1.664522,4.630686,5.634392,3.189724,5.385951,5.149361,0.0
2022-09-14,15.512412,15.001732,2.496022,2.913372,5.596190,6.845637,4.727811,6.551977,6.426142,0.0
2022-09-21,12.809846,11.556945,1.681835,1.962246,4.576498,5.084228,3.851830,5.605370,5.295726,0.0
2022-09-28,16.129131,12.523953,2.511046,2.560648,4.835545,5.884422,5.432243,6.142070,6.125340,0.0

### improvement points

this is determined by the round score being less than the expected stroke count. in those cases, we find the difference, and where it's greater than zero, we sum the improvement

also testing with strict ratings comparison for improvement

In [22]:
# improvement = expected_strokes[PLAYERS] - round_scores[PLAYERS]
improvement = ((ratings_ave[PLAYERS] - ratings[PLAYERS])/2).round(2)
improvement.where(improvement > 0).fillna(0).sum()

name
Chase             131.72
Isaac Richmond    121.61
Joe Bos            88.91
Joshua Owens       84.91
Kat Owens          83.27
Kevin Richmond    100.96
Kyle P-H           74.15
Noah Mashni        49.16
the_field          74.42
dtype: float64

In [23]:
ranked[PLAYERS].sum()

name
Chase              44.0
Isaac Richmond     36.0
Joe Bos           113.0
Joshua Owens      132.0
Kat Owens          82.0
Kevin Richmond     90.0
Kyle P-H           89.0
Noah Mashni        72.0
the_field          83.0
dtype: float64

## total points minus LP/CTP

In [24]:
ranked[PLAYERS].sum() + improvement[PLAYERS].where(improvement > 0).fillna(0).sum() + attendance

name
Chase             189.72
Isaac Richmond    165.61
Joe Bos           222.91
Joshua Owens      235.91
Kat Owens         186.27
Kevin Richmond    209.96
Kyle P-H          182.15
Noah Mashni       141.16
the_field            NaN
dtype: float64

### points per week

In [25]:
ranked + improvement.where(improvement > 0).fillna(0) + attendance # + lp/ctp

,name,Chase,Isaac Richmond,Joe Bos,Joshua Owens,Kat Owens,Kevin Richmond,Kyle P-H,Noah Mashni,the_field
date,course,,,,,,,,,
2022-04-21,shmo_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-04-28,shmo_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-05,shmo_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-12,shmo_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-05-19,spva_s,17.00,37.74,32.99,39.02,26.00,28.00,27.57,30.05,NaN
2022-05-26,shmo_s,18.00,10.00,29.67,28.00,28.00,33.23,27.00,30.71,NaN
2022-06-02,shmo_s,16.00,9.00,27.00,27.00,26.00,28.00,25.58,24.00,NaN
2022-06-09,shmo_s,15.00,10.00,28.00,28.00,25.00,22.00,24.00,28.00,NaN
2022-06-16,vera_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-06-23,shmo_s,16.79,10.00,29.00,32.56,28.00,37.25,28.00,24.00,NaN
2022-06-30,mbog_l,NaN,NaN,42.57,40.05,53.21,24.00,NaN,NaN,NaN
2022-07-07,spva_s,NaN,NaN,NaN,41.03,NaN,39.68,NaN,NaN,NaN
2022-07-14,shmo_s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-07-21,shmo_s,23.98,11.00,30.00,27.00,28.00,45.19,27.41,26.19,NaN
2022-07-28,shmo_s,33.69,10.00,29.00,28.51,27.02,25.00,31.08,29.00,NaN
2022-08-04,shmo_s,15.00,10.00,27.00,27.00,28.21,28.00,26.00,29.32,NaN
2022-08-10,romo_s,19.21,76.04,39.86,30.07,30.37,31.55,37.25,33.04,NaN
2022-08-17,shmo_s,15.39,17.56,28.10,27.00,25.00,28.00,26.00,29.07,NaN
2022-08-24,spva_s,22.00,27.26,30.69,35.76,26.00,23.00,28.00,23.09,NaN
2022-08-31,mbog_s,57.93,13.01,59.39,33.29,63.16,27.85,42.86,28.55,NaN
2022-09-07,shmo_s,20.00,10.00,29.00,28.00,25.00,31.24,26.00,25.00,NaN
2022-09-14,spva_s,23.00,9.00,31.23,30.62,28.30,24.00,27.10,28.06,NaN
2022-09-21,shmo_s,24.24,14.00,28.00,28.00,26.00,27.00,30.70,23.15,NaN
2022-09-28,romo_l,62.49,11.00,37.41,28.00,29.00,29.97,32.60,29.93,NaN